git+https://github.com/wtsi-hgi/useintest.git@ed39fe1b612fb87f4ad9d361996a1efa2b10068c#egg=useintest
git+https://github.com/wtsi-hgi/python-common.git@f38b37ee763eafb9f9ad995f6b53d06ef46cc195#egg=hgicommon
docker==2.0.1
